<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">

	<title>Business Analysis</title><meta name="description" content="We are Uncommon: a bunch of rebellious, curious, & passionate people using design to create value." /><meta property="og:title" content="Uncommon | Strategic Design" /><meta property="og:description" content="We are Uncommon: a bunch of rebellious, curious, & passionate people using design to create value." /><meta name="keywords" content="value, insightful, foresightful, responsive, design thinking" />
	<meta property="og:image" content="../uncommon.jpg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../favicon-32x32.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:200,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static' ,filename='js/gurgaon-milk-collector-locations.json')}}"></script>


<!-- END HEADER FIRST PART -->


<!-- HEADER SECOND PART-->


<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MRZ2GMN');</script>
<!-- End Google Tag Manager -->

	<!-- <script>
		function show_modal_no_more() {
			// console.log("entra");
		  	jQuery('.info-cookie').hide();
		  	document.cookie = "cookie=1; expires=Thu, 18 Dec 2031 12:00:00 UTC";
		}
	</script> -->
</head>
<body>
	<script src="https://apis.mapmyindia.com/advancedmaps/v1/4zjmxhenatyyxw8vc5xi5pee8pgu4b3j
/map_load?v=0.1"></script>
	<script src="https://www.mapmyindia.com/api/Leaflet.Editable.js"></script>


	<div class="top-div">
	  <span class="top-div-span1">MapmyIndia Maps API: </span>
	  <span class="top-div-span2">Map Polygon Example</span>
	</div>
	<div id="result">
	  <div class="btn-div"><button id="mapmyindia_geometry_of_green_polygon">Green Polygon Geometry</button></div>
	  <div class="btn-div"><button id="mapmyindia_create_polygon_noneditable">Non-editable Polygon</button></div>
	  <div class="btn-div"><button id="mapmyindia_create_polygons_editable"> Editable Polygon</button></div>
	  <div class="btn-div"><button id="mapmyindia_remove_polygons">Remove Polygon</button></div>

	  <div class="msg-cont">
	    <ul class="msg-list">
	      <li>Click anywhere on a polygon to show info window.</li>
	      <li>Drag the polygon to shift to a new position.</li>
	      <li>Click on controls to create a polygon,rectangle.</li>
	      <li>Drag the marker to see if it is under the green polygon or outside.</li>
	      <li>Control click on the drawn items to remove from map.</li>
	    </ul>
	  </div>
	  <div class="event-header">Event Logs</div>
	  <div id="event-log"></div>
	</div>
	<div id="map"></div>


	<script type="text/javascript" src="{{url_for('static' ,filename='js/main.js')}}"></script>
	<script>


	</script>
		</body>

</html>
