<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">

	<title>Business Analysis</title><meta name="description" content="We are Uncommon: a bunch of rebellious, curious, & passionate people using design to create value." /><meta property="og:title" content="Uncommon | Strategic Design" /><meta property="og:description" content="We are Uncommon: a bunch of rebellious, curious, & passionate people using design to create value." /><meta name="keywords" content="value, insightful, foresightful, responsive, design thinking" />
	<meta property="og:image" content="../uncommon.jpg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../favicon-32x32.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:200,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
		<script src="https://apis.mapmyindia.com/advancedmaps/v1/fcpidzcdwht4rjvlivky8ywsuntsv5rm/map_load?v=0.1"></script>
		<script src="https://www.mapmyindia.com/api/Leaflet.Editable.js"></script>

<!-- END HEADER FIRST PART -->


<!-- HEADER SECOND PART-->


<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MRZ2GMN');</script>
<!-- End Google Tag Manager -->

	<!-- <script>
		function show_modal_no_more() {
			// console.log("entra");
		  	jQuery('.info-cookie').hide();
		  	document.cookie = "cookie=1; expires=Thu, 18 Dec 2031 12:00:00 UTC";
		}
	</script> -->

		<script src="https://apis.mapmyindia.com/advancedmaps/v1/fcpidzcdwht4rjvlivky8ywsuntsv5rm/map_load?v=0.1"></script>
	<script src="https://www.mapmyindia.com/api/Leaflet.Editable.js"></script>

</head>
<body>
	<div id="map"></div>


		<script type="text/javascript" src="{{url_for('static' ,filename='js/main.js')}}"></script>
		</body>

</html>
